body{
	background-color:#f47878;
}

.button .button-login{
	display:inline-block;
	background-color:#ffffff;
}

/* display:inline-block;padding:6px 12px;margin-bottom:0;font-size:14px;font-weight:400;line-height:1.42857143; */
/* 	text-align:center;white-space:nowrap;vertical-align:middle;-ms-touch-action:manipulation;touch-action:manipulation; */
/* 	cursor:pointer;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none; */
/* 	background-image:none;border:1px solid transparent;border-radius:15%; */

#logo{
	font-family:LithosPro-Black;
	font-size:16px;
	color:#ffff33;
}

#centraltitle{
	color:#ffff33;
	font-size:48px;
	text-align:center;
}

#loginform{
	text-align:center;
}

#ps{
	text-align:right;
}

#signinform{
	text-align:center;
}